/*
    String editor button
*/
span.trp-edit-translation{
    background: url('../images/edit.png') no-repeat center center;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    margin-left: -30px;
    cursor: pointer;

    /*text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;*/
}

.trp-unpreviewable {
    cursor: not-allowed /*!important*/;
}
