/* Free */

table#trp-options td{
    padding-left: 28px;
}

span.select2-container{
    width: 240px !important;
}

#trp-options .trp-text-input{
    width:40%;
}

#trp-options .trp-select{
    min-width:240px;
}

/*
//todo  make it responsive la width mic
@media screen and (max-width: 400px){
    span.select2-container{
        clear: none;
        width: 100% !important;
    }
}
*/

/* PRO */
/*
 *  Language Selector
 */
.trp-language{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: -27px;
}

input.trp-translation-published{
    margin-left: 50px;
    margin-top: 1px;
}


#trp-published-header{
    padding-left: 222px;
}

.trp-sortable-handle{
    background: url('../images/sorting-icon-dots.png') no-repeat center center;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    cursor: move;
    margin-top: -1px;
}

#trp-add-language{
    margin-left: 45px;
}

#trp-new-language{
    padding-bottom: 5px;
    padding-top: 5px;
}

.trp-remove-language{
    color: #a00;
    cursor: pointer;
    margin-left: 100px;
}

.trp-remove-language:hover{
    color: red;
}

.trp-ls-customize{
    margin-left: 30px;
}

.trp-ls-type{
    margin-bottom: 20px;
}

.trp-ls-select-option{
    margin-top: 10px;
}