.menu-item-object-language_switcher .trp-flag-image {
    margin: -1px 5px;
    vertical-align: baseline;
}

.trp-language-switcher-select {
    width: 100%;
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    padding: 5px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0 !important; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 0 !important; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0 !important; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0 !important; }

.ui-icon.trp-current-language-icon,
.ui-icon.trp-flag-icon {
    width: 18px;
    height: 18px;
}

form.trp-language-switcher-form .ui-widget,
.trp-ls-options-with-flag-icons.ui-widget {
    display: inline-block;
}

form.trp-language-switcher-form .ui-selectmenu-text {
    cursor: default;
}

form.trp-language-switcher-form span.ui-selectmenu-text {
    width: 50%;
    white-space: nowrap;
}

.trp-ls-li .ui-icon.trp-flag-icon {
    position: inherit;
}

.trp-language-switcher form.trp-language-switcher-form:not( .trp-ls-shortcode-only-flags ) .ui-selectmenu-button.ui-widget {
    width: 100% !important;
}

.trp-language-switcher form.trp-language-switcher-form.trp-ls-shortcode-only-flags .ui-selectmenu-button.ui-widget {
    width: auto !important;
}

.ui-selectmenu-menu.ui-front .trp-ls-li {
    list-style-image: inherit !important;
}

form.trp-language-switcher-form .ui-selectmenu-button.ui-widget span,
.trp-ls-li.ui-menu-item span {
    display: inline-block;
    margin: 3px 2px 3px 5px;
    vertical-align: middle;
}

form.trp-language-switcher-form .ui-selectmenu-button.ui-widget span.trp-current-language-icon {
    margin-top: 4px;
}

form.trp-language-switcher-form .ui-selectmenu-button span.dashicons-arrow-down {
    float: right;
    margin-left: 0;
}

.ui-icon.trp-current-language-icon,
.trp-ls-options-with-flag-icons .ui-icon {
    background-position: left center;
}

.ui-selectmenu-menu .trp-ls-options-with-flag-icons .trp-ls-li div {
    width: 100%;
}

.ui-selectmenu-menu .trp-ls-options-with-flag-icons .trp-ls-li span:not( .trp-flag-icon ) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#wpadminbar #wp-admin-bar-trp_edit_translation .ab-icon:before {
    content: '\f326';
    top: 3px;
}

@media screen and ( max-width: 782px ) {

    #wpadminbar #wp-admin-bar-trp_edit_translation > .ab-item {
        text-indent: 0;
    }

    #wpadminbar li#wp-admin-bar-trp_edit_translation {
        display: block;
    }

}