/*
    String editor button
*/

.trp-icon {
    width: 30px !important;
    height: 30px !important;
    display: inline-block;
    position: absolute;
    margin-left: -30px !important;
    cursor: pointer;
    pointer-events: auto;
    color: #fff;
    min-width: 30px;
    min-height: 30px;
    line-height: 1em!important;
    font-size: 18px;
    z-index: 5;
    background: #0085ba!important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 2px 1px rgba(46,68,83,.15);
    box-shadow: 0 2px 1px rgba(46,68,83,.15);
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
}

.trp-icon:hover {
    background: #008ec2!important;
}

.trp-icon svg {
    fill: #fff;
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    margin: auto;
}

[data-trp-unpreviewable="trp-unpreviewable"]{
    cursor: not-allowed !important;
}

.trp-highlight{
    outline: 2px solid #e2e4e7;
}

*[data-trpgettextoriginal] .trp-icon, .trpgettext-wrap .trp-icon{
    background: #00ba3f !important;
}

*[data-trpgettextoriginal]  *[data-trp-translate-id] .trp-icon{
    background: #0085ba!important;
}

*[data-trpgettextoriginal] .trp-icon:hover, .trpgettext-wrap .trp-icon:hover{
    background: #00ce44 !important;
}

*[data-trpgettextoriginal]  *[data-trp-translate-id] .trp-icon:hover{
    background: #008ec2!important;
}

translate-press{
    pointer-events: all;
}

.trp-overflow-transform-fixer{
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.trp-overflow-transform-fixer trp-edit.trp-edit-translation{
    position:fixed;
}

.trp-overflow-inside-fixer trp-edit.trp-edit-translation{
    margin-left:0 !important;
}


/*
 * Merge icon
 */

.trp-icon.trp-merge{
    display: none;
    margin-left: -60px !important;
    background: #3CB371!important;
}

.trp-icon.trp-merge:hover {
    display: none;
    background: #40bf79!important;
}

.trp-icon.trp-merge.trp-active-icon, .trp-icon.trp-merge.trp-active-icon:hover{
    display: inline;
}

/*
 * Split icon
 */

.trp-icon.trp-split{
    display: none;
    margin-left: -60px !important;
    background: #ffa500!important;
}

.trp-icon.trp-split:hover {
    display: none;
    background: #ffae19!important;
}

.trp-icon.trp-split.trp-active-icon, .trp-icon.trp-split.trp-active-icon:hover{
    display: inline;
}
