

body{
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#trp-editor{
    margin-left: 300px;
    position: fixed;
    width: 100%;
    height: 100%;
}

#trp-controls{
    width: 298px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid #ddd;
    background: #eee;
}

.trp-controls-container{
    height: 100%;
    overflow-x: auto;
    padding:12px;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 1px;
    display: block;
    z-index: 50;
}

.ui-resizable-handle:active {
    background-color: #676767;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -2px;
    top: 0;
    height: 100%;
}
/** end **/

#trp-preview{
    position: absolute;
    left: 0;
    right: 300px;
    height: 100%;
}

iframe#trp-preview-iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border-width: 0px;
}

#trp-language-switch-form{
    display: inline;
}

#trp-language-select{
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    padding: 3px;
}
#trp-language-select {

}

.string-selector-description{
    font-size: 12px;
}




/*
    String list
 */

#trp-string-categories{
    width: 100% /*!important*/;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 3px;
}

span.select2-container{
    margin-bottom: 10px;
    /*width: 100% !important;*/
}

#trp-lists{
    margin-botton: 10px;
}


/*
 Translation Editors
 */

#trp-previous{
    float: left;
}
#trp-next{
    float: right;
}
.trp-toggle-languages, .trp-next-previous-buttons{
    color: darkblue;
    cursor: pointer;
}
.trp-language-text{
    padding-right: 9px;
}

.trp-language-text textarea{
    height: 65px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;

}

.trp-discard-changes{
    display: none;
}

.trp-unsaved-changes .trp-discard-changes{
    display: block;
    cursor: pointer;
    color: darkblue;
    font-size: 11px;
    float: right;
}

.trp-default-language{
    margin-top: 50px;
}

.trp-toggle-languages span, .trp-next-previous-buttons{
    user-select: none;
}

#trp-hide-all-languages, .trp-other-language{
    display: none;
}

#trp-save{
    margin-bottom: 50px;
}

#trp-translation-saved {
    padding-left: 20px;
    color: #008000;
    font-size: 14px;
    display:none;
}

#trp-string-list{
    margin-bottom: 15px;
}

/*
 * Loading animation
 */
.trp-ajax-loader {
    margin-left:20px;
    display: inline-block;
    z-index: 50;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#E57EB149', EndColorStr='#E57EB149')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#E57EB149', EndColorStr='#E57EB149');
    zoom: 1!important;
}

.trp-ajax-loader .trp-spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #a1b9e6;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

}

@-webkit-keyframes
spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes
spin {
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
