

body{
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.trp-editor{
    margin-left: 300px;
    position: fixed;
    width: 100%;
    height: 100%;
}

.trp-controls{
    width: 299px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid #ddd;
    background: #eee;
}

.trp-controls-container{
    padding:12px;
}

.trp-preview{
    position: absolute;
    left: 0;
    right: 300px;
    height: 100%;
}

iframe#trp-preview-iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border-width: 0px;
}

#trp-language-switch-form{
    display: inline;
}

#trp-language-select{
    width: 180px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 3px;
}




/*
    String list
 */

#trp-string-categories{
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 3px;
}

.trp-strings {
    max-height: 200px;
    overflow: scroll;
    margin: 0;
    padding: 0;
    border: 2px solid #ccc;
    display: none;
}

.trp-strings li {
    padding: 3px 7px;
    list-style: none;
    border-bottom: 1px solid #ccc;

}

.trp-strings li:last-child {
    border-bottom: none;
}

.trp-strings li:nth-child(even) {
    background: #f8f8f8;
}

.trp-strings li:nth-child(odd) {
    background: #efeeee;
}

.trp-strings li:nth-child(even):hover, .trp-strings li:nth-child(odd):hover  {
    background: rgba(43, 245, 255, 0.29);
}

.trp-strings.trp-current-category{
    display: block;
}

.trp-string{
    cursor: pointer;
}

#trp-lists{
    margin-botton: 10px;
}




/* String list normal horizontal accordion
<div id="trp-toggle-string-list">
    <div id="trp-string-toggle-tab" class="trp-tab"><?php _e( 'Current page string list', TRP_PLUGIN_SLUG ); ?></div>
    <ul id="trp-string-accordion">
        <div class="trp-tab trp-category-tab">Meta</div>
        <ul class="trp-category-strings-list">
            <li>String1</li>
            <li>String1</li>
            <li>String1</li>
        </ul>
        <div class="trp-tab trp-category-tab">URLs</div>
        <ul class="trp-category-strings-list">
            <li>String1</li>
            <li>String1</li>
            <li>String1</li>
        </ul>
        <div class="trp-tab trp-category-tab">Others</div>
        <ul class="trp-category-strings-list">
            <li>String1</li>
            <li>String1</li>
            <li>String1</li>
        </ul>
    </ul>
</div>

#trp-toggle-string-list{
    cursor: pointer
}

#trp-string-accordion {
    display: none;
    padding: 0;
    margin: 0;
}

.trp-tab:focus {
    outline: none;
}

#trp-string-toggle-tab{
    background-color: #dadada;
    border: 1px solid #a9a9a9;
    padding: 5px;
}

.trp-category-tab{
    background-color: #f5f5f5;
    border: 1px solid #bbbaba;
    padding: 3px;
}

#trp-string-accordion{
    border: 1px solid #a9a9a9;
    border-top: 0;

}

.trp-category-strings-list{
    background-color: #FFFFFF;
    padding: 1px;
}

.trp-category-strings-list li{
    list-style: none;
}
.trp-category-strings-list li:hover{
    background-color: rgba(0, 0, 139, 0.12);
}

*/











/*

#trp-controls-accordion{
    padding-left: 0px;
}
.trp-section{
    display:none;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
}
.trp-section.trp-current{
    display:inherit;
}
#trp-tabs{
    list-style: none;
}
#trp-tabs{
    cursor:pointer;
}

*/

/*
 Translation Editors
 */

#trp-previous{
    float: left;
}
#trp-next{
    float: right;
}
.trp-toggle-languages, .trp-next-previous-buttons{
    color: darkblue;
    cursor: pointer;
}

.trp-language-text textarea{
    width: 100%;
    height: 65px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
}

.trp-default-language{
    margin-top: 50px;
}

.trp-toggle-languages span, .trp-next-previous-buttons{
    user-select: none;
}

#trp-hide-all-languages, .trp-other-language{
    display: none;
}



#trp-translation-saved {
    padding-left: 20px;
    color: #008000;
    font-size: 14px;
    display:none;
}

/*
 * Loading animation
 */
.trp-ajax-loader {
    margin-left:20px;
    display: inline-block;
    z-index: 50;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#E57EB149', EndColorStr='#E57EB149')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#E57EB149', EndColorStr='#E57EB149');
    zoom: 1!important;
}

.trp-ajax-loader .trp-spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #a1b9e6;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

}

@-webkit-keyframes
spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes
spin {
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
