/*
    String editor button
*/

.trp-icon {
    width: 30px !important;
    height: 30px !important;
    display: none;
    position: absolute !important;
    margin-left: -30px !important;
    cursor: pointer !important;
    pointer-events: auto;
    color: #fff !important;
    min-width: 30px !important;
    min-height: 30px !important;
    line-height: 1em!important;
    font-size: 18px !important;
    z-index: 5 !important;
    background: #0085ba!important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 2px solid #fff !important;
    -webkit-box-shadow: 0 2px 1px rgba(46,68,83,.15) !important;
    box-shadow: 0 2px 1px rgba(46,68,83,.15) !important;
    text-align: center !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 3px !important;
}

.trp-icon:hover {
    background: #008ec2!important;
}

.trp-icon svg {
    fill: #fff;
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    margin: auto;
}

[data-trp-unpreviewable="trp-unpreviewable"]{
    cursor: not-allowed !important;
}

.trp-highlight{
    outline: 2px solid #e2e4e7 !important;
}

.trp-gettext-pencil{
    background: #00ba3f !important;
}

*[data-trp-translate-id] .trp-icon.trp-gettext-pencil{
    background: #0085ba!important;
}

.trp-gettext-pencil:hover{
    background: #00ce44 !important;
}

*[data-trp-translate-id] .trp-gettext-pencil.trp-icon:hover{
    background: #008ec2!important;
}

translate-press{
    pointer-events: all;
}

.trp-overflow-transform-fixer{
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.trp-overflow-transform-fixer trp-edit.trp-edit-translation{
    position:fixed;
}

.trp-overflow-inside-fixer trp-edit.trp-edit-translation{
    margin-left:0 !important;
}


/*
 * Merge icon
 */

.trp-icon.trp-merge {
    display: none;
    margin-left: -60px !important;
    background: #3CB371!important;
}

.trp-icon.trp-merge:hover {
    display: none;
    background: #40bf79!important;
}

.trp-icon.trp-merge.trp-active-icon, .trp-icon.trp-merge.trp-active-icon:hover{
    display: inline;
}

/*
 * Split icon
 */

.trp-icon.trp-split{
    display: none;
    margin-left: -60px !important;
    background: #ffa500!important;
}

.trp-icon.trp-split:hover {
    display: none;
    background: #ffae19!important;
}

.trp-icon.trp-split.trp-active-icon, .trp-icon.trp-split.trp-active-icon:hover{
    display: inline;
}

.trp-editor-notices{
    font-family: inherit;
    font-size: 13px;
    font-style: inherit;
    font-weight: inherit;
    position:relative;
    z-index: 99999;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: #f1f1f1;
    overflow-x: hidden;
}

.trp-notice{
    background: #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 15px;
    padding: 12px;
}

.trp-notice-warning {
    border-left-color: #ffb900;
}

.trp-bad-encoded-strings-list{
    padding-left: 15px;
}
