

body{
    margin: 0px;
}

.trp-editor{
    margin-left: 300px;
    position: fixed;
    width: 100%;
    height: 100%;
}

.trp-controls{
    width: 299px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid #ddd;
    background: #eee;
}

.trp-controls-container{
    padding:12px;
}

.trp-preview{
    position: absolute;
    left: 0;
    right: 300px;
    height: 100%;
}

iframe#trp-preview-iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border-width: 0px;
}




/*
    Editor Tabs
 */

#trp-controls-accordion{
    padding-left: 0px;
}
.trp-section{
    display:none;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
}
.trp-section.trp-current{
    display:inherit;
}
#trp-tabs{
    list-style: none;
}
#trp-tabs{
    cursor:pointer;
}


/*
 Translation Editors
 */

#trp-previous{
    float: left;
}
#trp-next{
    float: right;
}
.trp-toggle-languages, .trp-next-previous-buttons{
    color: darkblue;
    cursor: pointer;
}

.trp-default-language{
    margin-top: 30px;
}


.trp-toggle-languages span{
    user-select: none;
}
#trp-hide-all-languages, .trp-other-language{
    display: none;
}
