/*
    String editor button
*/
span.trp-edit-translation{
    background: url('../images/edit.png') no-repeat center center;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    margin-left: -30px;
    cursor: pointer;
}

[data-trp-unpreviewable="trp-unpreviewable"]{
    cursor: not-allowed;
}

.trp-highlight{
    outline: 2px solid #e2e4e7;
}